<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
     <title>Bar Chart (generated with d3-generator.com)</title>
     <meta http-equiv="X-UA-Compatible" content="IE=9">
  </head>
  <body>
    <!-- CHART DOM ELEMENT -->
    <div id="chart"></div>

    <!-- JS LIBRARIES -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v2.min.js"></script>

    <!-- YOUR SCRIPT -->
    <script>
function renderChart() {

var data = d3.csv.parse($('#csv').text());
<%= code %>
}
    </script>

    <!-- YOUR DATA -->
    <script id="csv" type="text/csv"><%= csv %></script>

    <!-- YOUR SCRIPT IS TRIGGERED AFTER THE DATA IS LOADED -->
    <script>renderChart();</script>
  </body>
</html>